<?xml version="1.0" encoding="UTF-8"?>
<configuration status="WARN">
    <Appenders>
		<RollingFile name="RollingFileAppender" fileName="/home/ec2-user/EURA/logs/EuraHistory_API.log"
			filePattern="/home/ec2-user/backup/logs/eura/$${date:yyyy-MM}/%d{yyyy-MM-dd}_%i.log.gz">
			<PatternLayout>
				<Pattern>%d [%t] %p %c - %m%n</Pattern>
			</PatternLayout>
			<Policies>
				<OnStartupTriggeringPolicy />
				<TimeBasedTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="10 MB" />
			</Policies>
			<DefaultRolloverStrategy max="20" />
		</RollingFile>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %highlight{%level}{FATAL=bg_red, ERROR=red, WARN=yellow, INFO=green, DEBUG=blue} - %msg%n" />
		</Console>
	</Appenders>
	<Loggers>
		<Root level="warn">
			<AppenderRef ref="RollingFileAppender" />
			<AppenderRef ref="Console" />
		</Root>
	</Loggers>
</configuration>