<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.eura.web.model.AnalysisMapper">
    <insert id="insertAnalysisData" parameterType="com.eura.web.model.DTO.LiveEmotionVO" useGeneratedKeys="true" keyColumn="idx_analysis" keyProperty="idx_analysis">
        INSERT INTO TB_ANALYSIS (
            IDX_MEETING_USER_JOIN,
            JOY,
            SADNESS,
            DISGUST,
            CONTEMPT,
            ANGER,
            FEAR,
            SURPRISE,
            VALENCE,
            ENGAGEMENT,
            TIMESTAMP,
            FILENAME,
            SMILE,
            INNERBROWRAISE,
            BROWRAISE,
            BROWFURROW,
            NOSEWRINKLE,
            UPPERLIPRAISE,
            LIPCORNERDEPRESSOR,
            CHINRAISE,
            LIPPUCKER,
            LIPPRESS,
            LIPSUCK,
            MOUTHOPEN,
            SMIRK,
            EYECLOSURE,
            ATTENTION,
            LIDTIGHTEN,
            JAWDROP,
            DIMPLER,
            EYEWIDEN,
            CHEEKRAISE,
            LIPSTRETCH
        ) VALUES (
            (
                SELECT IDX_MEETING_USER_JOIN
                FROM TB_MEETING_USER_JOIN
                WHERE TOKEN = #{token}
                  AND SESSIONID = #{mcid}
            ),
            #{emotion.joy},
            #{emotion.sadness},
            #{emotion.disgust},
            #{emotion.contempt},
            #{emotion.anger},
            #{emotion.fear},
            #{emotion.surprise},
            #{emotion.valence},
            #{emotion.engagement},
            #{emotion.Timestamp},
            #{emotion.FileName},
            #{emotion.smile},
            #{emotion.innerBrowRaise},
            #{emotion.browRaise},
            #{emotion.browFurrow},
            #{emotion.noseWrinkle},
            #{emotion.upperLipRaise},
            #{emotion.lipCornerDepressor},
            #{emotion.chinRaise},
            #{emotion.lipPucker},
            #{emotion.lipPress},
            #{emotion.lipSuck},
            #{emotion.mouthOpen},
            #{emotion.smirk},
            #{emotion.eyeClosure},
            #{emotion.attention},
            #{emotion.lidTighten},
            #{emotion.jawDrop},
            #{emotion.dimpler},
            #{emotion.eyeWiden},
            #{emotion.cheekRaise},
            #{emotion.lipStretch}
        )
    </insert>
</mapper>