<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.eura.web.model.DTO.AnalysisMapper">
    <insert id="insertAnalysisData" parameterType="com.eura.web.model.AnalysisMapper">
        INSERT INTO TB_ANALYSIS (
            JOY,
            SADNESS,
            DISGUST,
            CONTEMPT,
            ANGER,
            FEAR,
            SURPRISE,
            VALENCE,
            ENGAGEMENT,
            TIMESTAMP,
            FILENAME,
            SMILE,
            INNERBROWRAISE,
            BROWRAISE,
            BROWFURROW,
            NOSEWRINKLE,
            UPPERLIPRAISE,
            LIPCORNERDEPRESSOR,
            CHINRAISE,
            LIPPUCKER,
            LIPPRESS,
            LIPSUCK,
            MOUTHOPEN,
            SMIRK,
            EYECLOSURE,
            ATTENTION,
            LIDTIGHTEN,
            JAWDROP,
            DIMPLER,
            EYEWIDEN,
            CHEEKRAISE,
            LIPSTRETCH,
            REG_DT
        ) VALUES (
            #{joy},
            #{sadness},
            #{disgust},
            #{contempt},
            #{anger},
            #{fear},
            #{surprise},
            #{valence},
            #{engagement},
            #{Timestamp},
            #{FileName},
            #{smile},
            #{innerBrowRaise},
            #{browRaise},
            #{browFurrow},
            #{noseWrinkle},
            #{upperLipRaise},
            #{lipCornerDepressor},
            #{chinRaise},
            #{lipPucker},
            #{lipPress},
            #{lipSuck},
            #{mouthOpen},
            #{smirk},
            #{eyeClosure},
            #{attention},
            #{lidTighten},
            #{jawDrop},
            #{dimpler},
            #{eyeWiden},
            #{cheekRaise},
            #{lipStretch},
            NOW()
        )
    </insert>
</mapper>