<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.eura.web.model.AnalysisMapper">
    <insert id="insertAnalysisData" parameterType="com.eura.web.model.DTO.LiveEmotionVO" useGeneratedKeys="true" keyColumn="idx_analysis" keyProperty="idx_analysis">
        INSERT INTO TB_ANALYSIS (
            IDX_MEETING_USER_JOIN,
            JOY,
            SADNESS,
            DISGUST,
            CONTEMPT,
            ANGER,
            FEAR,
            SURPRISE,
            VALENCE,
            ENGAGEMENT,
            TIMESTAMP,
            FILENAME,
            SMILE,
            INNERBROWRAISE,
            BROWRAISE,
            BROWFURROW,
            NOSEWRINKLE,
            UPPERLIPRAISE,
            LIPCORNERDEPRESSOR,
            CHINRAISE,
            LIPPUCKER,
            LIPPRESS,
            LIPSUCK,
            MOUTHOPEN,
            SMIRK,
            EYECLOSURE,
            ATTENTION,
            LIDTIGHTEN,
            JAWDROP,
            DIMPLER,
            EYEWIDEN,
            CHEEKRAISE,
            LIPSTRETCH
        ) VALUES (
            (
                SELECT IDX_MEETING_USER_JOIN
                FROM TB_MEETING_USER_JOIN
                WHERE TOKEN = #{token}
                  AND SESSIONID = #{mcid}
            ),
            #{joy},
            #{sadness},
            #{disgust},
            #{contempt},
            #{anger},
            #{fear},
            #{surprise},
            #{valence},
            #{engagement},
            #{time_stamp},
            #{FileName},
            #{smile},
            #{innerBrowRaise},
            #{browRaise},
            #{browFurrow},
            #{noseWrinkle},
            #{upperLipRaise},
            #{lipCornerDepressor},
            #{chinRaise},
            #{lipPucker},
            #{lipPress},
            #{lipSuck},
            #{mouthOpen},
            #{smirk},
            #{eyeClosure},
            #{attention},
            #{lidTighten},
            #{jawDrop},
            #{dimpler},
            #{eyeWiden},
            #{cheekRaise},
            #{lipStretch}
        )
    </insert>

    <select id="insertAnalysisDataUserRate" statementType="CALLABLE">
    <![CDATA[
        {call prc_meet_analysis_user(#{token}, #{mcid})}
    ]]>
    </select>

    <select id="getAnalysisData" resultType="com.eura.web.model.DTO.AnalysisVO">
        SELECT *
            FROM TB_ANALYSIS
            WHERE IDX_MEETING=#{idx_meeting}
            ORDER BY TIMESTAMP ASC, IDX_ANALYSIS ASC
    </select>

    <select id="getUserAnalysisData" resultType="com.eura.web.model.DTO.AnalysisVO">
        SELECT IDX_ANALYSIS, IDX_MEETING_USER_JOIN, IFNULL(`TIMESTAMP`,0) AS `TIMESTAMP`, ENGAGEMENT, ATTENTION, VALENCE
        FROM TB_ANALYSIS
        WHERE 1=1
        <if test="idx_meeting_user_join != null">
            AND IDX_MEETING_USER_JOIN=#{idx_meeting_user_join}
        </if>
        <if test="idx_meeting != null and idx_user != null">
            AND IDX_MEETING_USER_JOIN IN (SELECT IDX_MEETING_USER_JOIN FROM TB_MEETING_USER_JOIN WHERE IDX_MEETING=#{idx_meeting} AND IDX_USER=#{idx_user})
        </if>
        <if test="idx_meeting != null and idx_user == null">
            AND IDX_MEETING_USER_JOIN IN (SELECT IDX_MEETING_USER_JOIN FROM TB_MEETING_USER_JOIN WHERE IDX_MEETING=#{idx_meeting})
        </if>
        ORDER BY TIMESTAMP ASC
    </select>

    <!-- 분석 요약 -->
    <select id="getMeetResultData" resultType="com.eura.web.model.DTO.MeetResultVO">
        SELECT TOTAL_GOOD, TOTAL_BAD FROM TB_MEETING_ANALYSIS_TOTAL WHERE IDX_MEETING=#{idx_meeting}
    </select>

    <!-- 분석 요약 저장 -->
    <insert id="saveMeetResultData">
        INSERT INTO TB_MEETING_ANALYSIS_TOTAL (TOTAL_GOOD, TOTAL_BAD, IDX_MEETING) VALUES (#{good}, #{bad}, #{idx_meeting})
    </insert>

    <!-- 개인 막대그래프용 데이터 -->
    <select id="getPersoanlBarData" resultType="com.eura.web.model.DTO.ConcentrationVO">
        SELECT GOOD, BAD, LVL, IDX_MEETING_USER_JOIN 
        FROM TB_MEETING_ANALYSIS_PERSONAL_BAR 
        WHERE IDX_MEETING=#{idx_meeting} AND MOVIE_NO=#{file_no}
        ORDER BY IDX_MEETING_USER_JOIN, LVL
    </select>

    <!-- 개인 막대그래프용 데이터 저장 -->
    <insert id="savePersoanlBarData" parameterType="java.util.Map">
        INSERT INTO TB_MEETING_ANALYSIS_PERSONAL_BAR (GOOD, BAD, LVL, IDX_MEETING, MOVIE_NO, IDX_MEETING_USER_JOIN) VALUES 
        <foreach item="item" collection="list" separator=",">
        (#{item.good}, #{item.bad}, #{item.lvl}, #{item.idx_meeting}, #{item.movie_no}, #{item.idx_meeting_user_join})
        </foreach>
    </insert>

    <!-- 개인 분석요약 데이터 -->
    <select id="getPersoanlTotalData" resultType="com.eura.web.model.DTO.ConcentrationVO">
        SELECT TOTAL_GOOD, TOTAL_BAD, IDX_MEETING_USER_JOIN 
        FROM TB_MEETING_ANALYSIS_PERSONAL
        WHERE IDX_MEETING=#{idx_meeting}
    </select>

    <!-- 개인 분석요약 데이터 저장 -->
    <insert id="savePersoanlTotalData" parameterType="java.util.Map">
        INSERT INTO TB_MEETING_ANALYSIS_PERSONAL (TOTAL_GOOD, TOTAL_BAD, IDX_MEETING, IDX_MEETING_USER_JOIN) VALUES 
        <foreach item="item" collection="list" separator=",">
        (#{item.good}, #{item.bad}, #{item.idx_meeting}, #{item.idx_meeting_user_join})
        </foreach>
    </insert>

    <!-- 전체 막대그래프용 데이터 -->
    <select id="getTotalBarData" resultType="com.eura.web.model.DTO.ConcentrationVO">
        SELECT GOOD, BAD, LVL
        FROM TB_MEETING_ANALYSIS_TOTAL_BAR 
        WHERE IDX_MEETING=#{idx_meeting} AND MOVIE_NO=#{file_no}
        ORDER BY LVL ASC
    </select>

    <!-- 전체 막대그래프용 데이터 저장 -->
    <insert id="saveTotalBarData" parameterType="java.util.Map">
        INSERT INTO TB_MEETING_ANALYSIS_TOTAL_BAR (GOOD, BAD, LVL, IDX_MEETING, MOVIE_NO) VALUES 
        <foreach item="item" collection="list" separator=",">
        (#{item.good}, #{item.bad}, #{item.lvl}, #{item.idx_meeting}, #{item.movie_no})
        </foreach>
    </insert>
</mapper>