<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.eura.web.model.FileServiceMapper">
    <!-- 미팅룸 첨부파일 저장 -->
    <insert id="addMeetFile">
        INSERT INTO TB_ATTACHMENT_FILE_INFO_JOIN (
            IDX_MEETING, FILE_PATH, FILE_NAME, FILE_SIZE
        ) VALUES (
            #{idx_meeting}, #{file_path}, #{file_name}, #{file_size}
        )
    </insert>

    <!-- 미팅룸 첨부파일 삭제 -->
    <update id="delMeetFile">
        UPDATE TB_ATTACHMENT_FILE_INFO_JOIN
            SET
                DELETE_STAT=1, DEL_DT=NOW() 
            WHERE IDX_MEETING=#{idx_meeting} AND IDX_ATTACHMENT_FILE_INFO_JOIN=#{idx_attachment_file_info_join}
    </update>

    <!-- 미팅룸 첨부파일 정보 -->
    <select id="getMeetFile" resultType="com.eura.web.model.DTO.MeetingVO">
        SELECT FILE_PATH, FILE_NAME
        FROM TB_ATTACHMENT_FILE_INFO_JOIN 
        WHERE DELETE_STAT=0 AND IDX_ATTACHMENT_FILE_INFO_JOIN=#{idx_attachment_file_info_join}
    </select>

    <!-- 미팅 동영상 파일 저장 -->
    <insert id="addMeetMovieFile">
        INSERT INTO TB_MEETING_MOVIE_FILE (
            IDX_MEETING, FILE_PATH, FILE_NAME, FILE_SIZE, FILE_NO, DURATION, RECORD_DT
        ) VALUES (
            (SELECT IDX_MEETING FROM TB_MEETING_USER_JOIN WHERE TOKEN=#{token} AND SESSIONID=#{mcid}), #{file_path}, #{file_name}, #{file_size}, #{file_no}, #{duration}, #{record_dt}
        )
    </insert>

    <!-- 미팅 동영상 파일 리스트 -->
    <select id="getMeetMovieFile" resultType="com.eura.web.model.DTO.MeetingVO">
        SELECT IDX_MOVIE_FILE, FILE_NO, FILE_PATH, FILE_NAME, DURATION, RECORD_DT
            FROM TB_MEETING_MOVIE_FILE
            WHERE IDX_MEETING=#{idx_meeting} AND DELETE_STAT=0
    </select>

    <!-- 미팅 감정 파일 저장 -->
    <insert id="addEmotionFile">
        INSERT INTO TB_ANALYSIS_FILE (
            IDX_ANALYSIS, FILE_PATH, FILE_NAME, FILE_SIZE
        ) VALUES (
            #{idx_analysis}, #{file_path}, #{file_name}, #{file_size}
        )
    </insert>

    <!-- 프로필사진 저장 -->
    <insert id="insertProfileInfo">
        INSERT INTO TB_PROFILE_INFO (
            IDX_USER,
            FILE_PATH,
            FILE_NAME
        ) VALUES (
            #{idx_user},
            #{file_path},
            #{file_name}
        )
    </insert>

    <!-- 프로필 첨부파일 정보 -->
    <select id="selectUserProfileFile" resultType="com.eura.web.model.DTO.ProfileInfoVO">
        SELECT *
        FROM TB_PROFILE_INFO
        WHERE IDX_USER = #{idx_user}
    </select>

    <!-- 프로필사진 수정 -->
    <update id="updateProfileInfo">
        UPDATE TB_PROFILE_INFO
        SET FILE_PATH = #{file_path},
            FILE_NAME = #{file_name}
        WHERE IDX_USER = #{idx_user}
    </update>
</mapper>