<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.eura.web.model.FileServiceMapper">
    <!-- 미팅룸 첨부파일 저장 -->
    <insert id="addMeetFile">
        INSERT INTO TB_ATTACHMENT_FILE_INFO_JOIN (
            IDX_MEETING, FILE_PATH, FILE_NAME, FILE_SIZE
        ) VALUES (
            #{idx_meeting}, #{file_path}, #{file_name}, #{file_size}
        )
    </insert>

    <!-- 미팅룸 첨부파일 삭제 -->
    <update id="delMeetFile">
        UPDATE TB_ATTACHMENT_FILE_INFO_JOIN
            SET
                DELETE_STAT=1, DEL_DT=NOW() 
            WHERE IDX_MEETING=#{idx_meeting} AND IDX_ATTACHMENT_FILE_INFO_JOIN=#{idx_attachment_file_info_join}
    </update>

    <!-- 미팅룸 첨부파일 정보 -->
    <select id="getMeetFile" resultType="com.eura.web.model.DTO.MeetingVO">
        SELECT FILE_PATH, FILE_NAME
        FROM TB_ATTACHMENT_FILE_INFO_JOIN 
        WHERE DELETE_STAT=0 AND IDX_ATTACHMENT_FILE_INFO_JOIN=#{idx_attachment_file_info_join}
    </select>
</mapper>