<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eura.web.model.MeetMapper">
    <select id="getMeetingList" resultType="com.eura.web.model.DTO.MeetingVO">
        SELECT * FROM TB_MEETING WHERE IDX_USER=#{idx_user} AND DELETE_STAT=0
    </select>

    <select id="getRoomInfo" resultType="com.eura.web.model.DTO.MeetingVO">
        SELECT * FROM TB_MEETING WHERE IDX_MEETING=#{idx_meeting} AND DELETE_STAT=0
    </select>

    <select id="getMeetFiles" resultType="com.eura.web.model.DTO.MeetingVO">
        SELECT * FROM TB_ATTACHMENT_FILE_INFO_JOIN WHERE IDX_MEETING=#{idx_meeting} AND DELETE_STAT=0
    </select>

    <select id="getMeetInvites" resultType="com.eura.web.model.DTO.MeetingVO">
        SELECT A.*, IFNULL(B.USER_NAME,'') AS USER_NAME
        FROM TB_MEETING_USER_JOIN A 
        LEFT OUTER JOIN TB_USER B ON B.IDX_USER=A.IDX_USER
        WHERE A.IDX_MEETING=#{idx_meeting} AND A.DELETE_STAT=0
    </select>

    <!-- 미팅룸 생성 -->
    <insert id="meet_create" parameterType="com.eura.web.model.DTO.MeetingVO" useGeneratedKeys="true" keyColumn="idx_meeting" keyProperty="idx_meeting">
        INSERT INTO TB_MEETING (
            IDX_USER,
            MT_NAME,
            MT_START_DT,
            MT_END_DT,
            MT_INFO
        <if test="mt_remind_type != null">
            , MT_REMIND_TYPE
        </if>
        <if test="mt_remind_count != null">
            , MT_REMIND_COUNT
        </if>
        <if test="mt_remind_week != null">
            , MT_REMIND_WEEK
        </if>
        <if test="mt_remind_end != null">
            , MT_REMIND_END
        </if>
        ) VALUES (
            #{idx_user},
            #{mt_name},
            #{mt_start_dt},
            #{mt_end_dt},
            #{mt_info}
        <if test="mt_remind_type != null">
            , #{mt_remind_type}
        </if>
        <if test="mt_remind_count != null">
            , #{mt_remind_count}
        </if>
        <if test="mt_remind_week != null">
            , #{mt_remind_week}
        </if>
        <if test="mt_remind_end != null">
            , #{mt_remind_end}
        </if>
        )
    </insert>

    <!-- 참여자 리스트 저장 -->
    <insert id="meet_invite">
    <![CDATA[
		{call prc_meet_invite(#{idx_meeting}, #{user_email})}
	]]>
    </insert>

    <!-- 미팅룸 수정 -->
    <update id="meet_modify">
        UPDATE TB_MEETING 
            SET
                MT_NAME=#{mt_name},
                MT_START_DT=#{mt_start_dt},
                MT_END_DT=#{mt_end_dt},
                MT_INFO=#{mt_info}
            <if test="mt_remind_type != null">
                , MT_REMIND_TYPE=#{mt_remind_type}
            </if>
            <if test="mt_remind_count != null">
                , MT_REMIND_COUNT=#{mt_remind_count}
            </if>
            <if test="mt_remind_week != null">
                , MT_REMIND_WEEK=#{mt_remind_week}
            </if>
            <if test="mt_remind_end != null">
                , MT_REMIND_END=#{mt_remind_end}
            </if>
            WHERE IDX_MEETING=#{idx_meeting}
    </update>

    <!-- 미팅룸 참여자 삭제 -->
    <update id="meet_invite_del">
        UPDATE TB_MEETING_USER_JOIN 
            SET 
                DELETE_STAT=1, DEL_DT=NOW() 
            WHERE IDX_MEETING=#{idx_meeting} AND IDX_USER=#{idx_user}
    </update>
</mapper>