<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eura.web.model.MeetMapper">
    <!-- 미팅룸 리스트 -->
    <select id="getMeetingList" resultType="com.eura.web.model.DTO.MeetingVO">
        SELECT * 
            FROM TB_MEETING 
            WHERE IDX_USER=#{idx_user} AND DELETE_STAT=0
            <if test="currentPage != null and currentPage > 0">
                LIMIT #{recordCountPerPage} OFFSET #{firstIndex}
            </if>
    </select>

    <!-- 개인화 - 다음일정 - 참여중인 미팅룸 -->
    <select id="getMyMeetShortList" resultType="com.eura.web.model.DTO.MeetingVO">
        SELECT *
            FROM TB_MEETING
            WHERE DELETE_STAT=0 
                AND (IDX_USER=#{idx_user} OR IDX_MEETING IN (SELECT IDX_MEETING FROM TB_MEETING_USER_JOIN WHERE IDX_USER=#{idx_user} AND DELETE_STAT=0))
                AND MT_END_DT <![CDATA[>=]]> NOW()
                AND MT_STATUS=1 
                AND IS_FINISH=0
            ORDER BY MT_START_DT
            LIMIT 3
    </select>

    <!-- 미팅 달력 -->
    <select id="getMyMeetCalendarList" resultType="com.eura.web.model.DTO.MeetingVO">
        SELECT A.*, B.USER_NAME, IF(A.MT_END_DT <![CDATA[<]]> NOW() AND A.MT_STATUS=1, 1, A.IS_FINISH) AS IS_FINISH
            FROM TB_MEETING A
            JOIN TB_USER B ON B.IDX_USER = A.IDX_USER
            WHERE A.DELETE_STAT=0
                AND A.MT_STATUS=1
                AND (A.IDX_USER=#{idx_user} OR A.IDX_MEETING IN (SELECT IDX_MEETING FROM TB_MEETING_USER_JOIN WHERE IDX_USER=#{idx_user} AND DELETE_STAT=0))
                AND CASE WHEN A.MT_END_DT <![CDATA[<]]> NOW() THEN A.IS_LIVE_DT IS NOT NULL ELSE 1=1 END
                <if test="calYear != null">
                    AND LEFT(A.MT_START_DT,4)=#{calYear}
                </if>
                <if test="calMonth != null">
                    AND RIGHT(LEFT(A.MT_START_DT,7),2)=#{calMonth}
                </if>
                <if test="calDay != null">
                    AND RIGHT(LEFT(A.MT_START_DT,10),2)=#{calDay}
                </if>
            ORDER BY A.MT_START_DT ASC
    </select>

    <!-- 개인화 - 나의 미팅룸 - 참여중인 미팅룸 총 수 -->
    <select id="getMyMeetListCount" resultType="Long">
        SELECT COUNT(1)
            FROM TB_MEETING
            WHERE DELETE_STAT=0 
                AND (IDX_USER=#{idx_user} OR IDX_MEETING IN (SELECT IDX_MEETING FROM TB_MEETING_USER_JOIN WHERE IDX_USER=#{idx_user} AND DELETE_STAT=0))
                AND ((MT_END_DT <![CDATA[>=]]> NOW() AND MT_STATUS IN (0,1,2)) OR (MT_END_DT <![CDATA[<]]> NOW() AND MT_STATUS IN (0,2)))
                AND IS_FINISH=0
                AND CASE WHEN IDX_USER!=#{idx_user} THEN MT_STATUS=1 ELSE 1=1 END
    </select>

    <!-- 개인화 - 나의 미팅룸 - 참여중인 미팅룸 -->
    <select id="getMyMeetList" resultType="com.eura.web.model.DTO.MeetingVO">
        SELECT A.*, B.USER_NAME
            FROM TB_MEETING A
            JOIN TB_USER B ON B.IDX_USER = A.IDX_USER
            WHERE A.DELETE_STAT=0 
                AND (A.IDX_USER=#{idx_user} OR A.IDX_MEETING IN (SELECT IDX_MEETING FROM TB_MEETING_USER_JOIN WHERE IDX_USER=#{idx_user} AND DELETE_STAT=0))
                AND ((A.MT_END_DT <![CDATA[>=]]> NOW() AND A.MT_STATUS IN (0,1,2)) OR (A.MT_END_DT <![CDATA[<]]> NOW() AND A.MT_STATUS IN (0,2)))
                AND A.IS_FINISH=0
                AND CASE WHEN A.IDX_USER!=#{idx_user} THEN A.MT_STATUS=1 ELSE 1=1 END
                <if test="calYear != null">
                    AND LEFT(A.MT_START_DT,4)=#{calYear}
                </if>
                <if test="calMonth != null">
                    AND RIGHT(LEFT(A.MT_START_DT,7),2)=#{calMonth}
                </if>
                <if test="calDay != null">
                    AND RIGHT(LEFT(A.MT_START_DT,10),2)=#{calDay}
                </if>
            ORDER BY 
            <choose>
                <!-- pageSort - 1:최신순, 2:미팅 시간순, 3:비공개 미팅순, 4:취소된 미팅순 -->
                <!-- MT_STATUS - 0:비공개, 1:공개, 2:취소, 3:삭제 -->
                <when test="pageSort != null and pageSort == 1">
                    FIELD(A.MT_STATUS, 1,0,2), A.REG_DT DESC
                </when>
                <when test="pageSort != null and pageSort == 3">
                    FIELD(A.MT_STATUS, 0,1,2), A.MT_START_DT ASC
                </when>
                <when test="pageSort != null and pageSort == 4">
                    FIELD(A.MT_STATUS, 2,0,1), A.MT_START_DT ASC
                </when>
                <otherwise>
                    A.MT_START_DT ASC
                </otherwise>
            </choose>
            <if test="currentPage != null and currentPage > 0">
                LIMIT #{recordCountPerPage} OFFSET #{firstIndex}
            </if>
    </select>

    <!-- 개인화 - 지난 미팅 - 지난 미팅룸 총 수 -->
    <select id="getMyMeetEndListCount" resultType="Long">
        SELECT COUNT(1)
            FROM TB_MEETING A
            JOIN TB_USER B ON B.IDX_USER = A.IDX_USER
            WHERE A.DELETE_STAT=0
              AND (A.IDX_USER=#{idx_user} OR A.IDX_MEETING IN (SELECT IDX_MEETING FROM TB_MEETING_USER_JOIN WHERE IDX_USER=#{idx_user} AND DELETE_STAT=0))
              AND ((A.MT_END_DT <![CDATA[<]]> NOW() AND A.MT_STATUS=1 AND A.IS_LIVE_DT IS NOT NULL) OR A.IS_FINISH=1)
              AND CASE WHEN A.IDX_USER!=#{idx_user} THEN A.MT_STATUS=1 ELSE 1=1 END
    </select>

    <!-- 개인화 - 지난 미팅 -->
    <select id="getMyMeetEndList" resultType="com.eura.web.model.DTO.MeetingVO">
        SELECT A.*, B.USER_NAME, IF(C.TOKEN IS NULL,0,1) AS IS_JOIN
            FROM TB_MEETING A
            JOIN TB_USER B ON B.IDX_USER = A.IDX_USER
            JOIN TB_MEETING_USER_JOIN C ON C.IDX_MEETING=A.IDX_MEETING AND C.IDX_USER=#{idx_user} AND C.DELETE_STAT=0
            WHERE A.DELETE_STAT=0 
                AND (A.IDX_USER=#{idx_user} OR A.IDX_MEETING IN (SELECT IDX_MEETING FROM TB_MEETING_USER_JOIN WHERE IDX_USER=#{idx_user} AND DELETE_STAT=0))
                AND ((A.MT_END_DT <![CDATA[<]]> NOW() AND A.MT_STATUS=1 AND A.IS_LIVE_DT IS NOT NULL) OR A.IS_FINISH=1)
                AND CASE WHEN A.IDX_USER!=#{idx_user} THEN A.MT_STATUS=1 ELSE 1=1 END
            ORDER BY 
            <choose>
                <!-- 1:지난미팅순, 2:최근미팅순 -->
                <when test="pageSort != null and pageSort == 1">
                    A.MT_START_DT ASC
                </when>
                <otherwise>
                    A.MT_START_DT DESC
                </otherwise>
            </choose>
            <if test="currentPage != null and currentPage > 0">
                LIMIT #{recordCountPerPage} OFFSET #{firstIndex}
            </if>
    </select>

    <!-- 미팅룸 정보 -->
    <select id="getRoomInfo" resultType="com.eura.web.model.DTO.MeetingVO">
        SELECT A.*, B.USER_NAME
            FROM TB_MEETING A
            JOIN TB_USER B ON B.IDX_USER=A.IDX_USER
            WHERE A.IDX_MEETING=#{idx_meeting} AND A.DELETE_STAT=0
    </select>

    <!-- 미팅룸 첨부 파일 리스트 -->
    <select id="getMeetFiles" resultType="com.eura.web.model.DTO.MeetingVO">
        SELECT * 
            FROM TB_ATTACHMENT_FILE_INFO_JOIN 
            WHERE IDX_MEETING=#{idx_meeting} AND DELETE_STAT=0
    </select>

    <!-- 영상 파일 리스트/ -->
    <select id="getMeetMovieFiles" resultType="com.eura.web.model.DTO.MeetingVO">
        SELECT *
            FROM TB_MEETING_MOVIE_FILE 
            WHERE IDX_MEETING=#{idx_meeting} AND DELETE_STAT=0
            ORDER BY FILE_NO ASC
    </select>

    <!-- 미팅룸 참여자 리스트 -->
    <select id="getMeetInvites" resultType="com.eura.web.model.DTO.MeetingVO">
        SELECT A.*, IFNULL(B.USER_NAME,'') AS USER_NAME, IFNULL(D.FILE_NAME,'') AS FILE_NAME, IFNULL(D.FILE_PATH,'') AS FILE_PATH, IF(A.IDX_USER=C.IDX_USER,1,0) AS IS_HOST, IFNULL(E.GOOD,0) AS GOOD, IFNULL(E.BAD,0) AS BAD
            FROM TB_MEETING_USER_JOIN A 
                LEFT OUTER JOIN TB_USER B ON B.IDX_USER=A.IDX_USER
                JOIN TB_MEETING C ON C.IDX_MEETING=A.IDX_MEETING
                LEFT OUTER JOIN TB_PROFILE_INFO D ON D.IDX_USER=A.IDX_USER
                LEFT OUTER JOIN TB_ANALYSIS_USER E ON E.IDX_MEETING_USER_JOIN=A.IDX_MEETING_USER_JOIN
            WHERE A.DELETE_STAT=0
            <if test="idx_meeting != null">
                AND A.IDX_MEETING=#{idx_meeting}
            </if>
            ORDER BY FIELD(A.IDX_USER=C.IDX_USER, IFNULL(B.USER_NAME,A.USER_EMAIL)), A.TOKEN DESC, IFNULL(B.USER_NAME,A.USER_EMAIL) ASC
            <if test="currentPage != null and currentPage > 0">
                LIMIT #{recordCountPerPage} OFFSET #{firstIndex}
            </if>
    </select>

    <!-- 미팅룸 참여자 리스트 카운트 -->
    <select id="getMeetInvitesCnt" resultType="Integer">
        SELECT COUNT(1)
            FROM TB_MEETING_USER_JOIN 
            WHERE DELETE_STAT=0
                AND IDX_MEETING=#{idx_meeting}
    </select>

    <!-- 미팅룸 참여자 여부 확인 -->
    <select id="getMeetInviteUser" resultType="Integer">
        SELECT COUNT(1)
        FROM TB_MEETING_USER_JOIN
        WHERE DELETE_STAT=0
          AND IDX_MEETING=#{idx_meeting}
          AND USER_EMAIL=#{user_email}
    </select>

    <!-- 미팅룸 생성 -->
    <insert id="meet_create" parameterType="com.eura.web.model.DTO.MeetingVO" useGeneratedKeys="true" keyColumn="idx_meeting" keyProperty="idx_meeting">
        INSERT INTO TB_MEETING (
            IDX_USER,
            MT_NAME,
            MT_START_DT,
            MT_END_DT,
            MT_INFO
        <if test="mt_remind_type != null">
            , MT_REMIND_TYPE
        </if>
        <if test="mt_remind_count != null">
            , MT_REMIND_COUNT
        </if>
        <if test="mt_remind_week != null">
            , MT_REMIND_WEEK
        </if>
        <if test="mt_remind_end != null">
            , MT_REMIND_END
        </if>
        ) VALUES (
            #{idx_user},
            #{mt_name},
            #{mt_start_dt},
            #{mt_end_dt},
            #{mt_info}
        <if test="mt_remind_type != null">
            , #{mt_remind_type}
        </if>
        <if test="mt_remind_count != null">
            , #{mt_remind_count}
        </if>
        <if test="mt_remind_week != null">
            , #{mt_remind_week}
        </if>
        <if test="mt_remind_end != null">
            , #{mt_remind_end}
        </if>
        )
    </insert>

    <!-- 참여자 리스트 저장 -->
    <insert id="meet_invite">
    <![CDATA[
		{call prc_meet_invite(#{idx_meeting}, #{user_email})}
	]]>
    </insert>

    <!-- 미팅룸 수정 -->
    <update id="meet_modify">
        UPDATE TB_MEETING 
            SET
                MT_NAME=#{mt_name},
                MT_START_DT=#{mt_start_dt},
                MT_END_DT=#{mt_end_dt},
                MT_INFO=#{mt_info}
            <if test="mt_remind_type != null">
                , MT_REMIND_TYPE=#{mt_remind_type}
            </if>
            <if test="mt_remind_count != null">
                , MT_REMIND_COUNT=#{mt_remind_count}
            </if>
            <if test="mt_remind_week != null">
                , MT_REMIND_WEEK=#{mt_remind_week}
            </if>
            <if test="mt_remind_end != null">
                , MT_REMIND_END=#{mt_remind_end}
            </if>
            WHERE IDX_MEETING=#{idx_meeting} AND IDX_USER=#{idx_user} AND DELETE_STAT=0
    </update>

    <!-- 미팅룸 참여자 삭제 -->
    <update id="meet_invite_del">
        UPDATE TB_MEETING_USER_JOIN 
            SET 
                DELETE_STAT=1, IS_LIVE=0, DEL_DT=NOW() 
            WHERE IDX_MEETING=#{idx_meeting} AND USER_EMAIL=#{user_email} AND DELETE_STAT=0
    </update>

    <!-- 미팅룸 공개 -->
    <update id="putMeetOpen">
        UPDATE TB_MEETING
            SET
                MT_STATUS=1, IS_LIVE=0
            WHERE IDX_MEETING=#{idx_meeting} AND IDX_USER=#{idx_user} AND DELETE_STAT=0
    </update>

    <!-- 미팅룸 비공개 -->
    <update id="putMeetClose">
        UPDATE TB_MEETING
            SET
                MT_STATUS=0, IS_LIVE=0
            WHERE IDX_MEETING=#{idx_meeting} AND IDX_USER=#{idx_user} AND DELETE_STAT=0
    </update>

    <!-- 미팅 취소 -->
    <update id="putMeetCacncel">
        UPDATE TB_MEETING
            SET
                MT_STATUS=2, IS_LIVE=0
            WHERE IDX_MEETING=#{idx_meeting} AND IDX_USER=#{idx_user} AND DELETE_STAT=0
    </update>

    <!-- 미팅룸 삭제 -->
    <update id="deleteMeet">
        UPDATE TB_MEETING
            SET
                MT_STATUS=3, DELETE_STAT=1, DEL_DT=NOW()
            WHERE IDX_MEETING=#{idx_meeting} AND IDX_USER=#{idx_user}
    </update>

    <!-- 미팅 시작하기 -->
    <update id="putMeetLiveStart">
        UPDATE TB_MEETING
            SET
                IS_LIVE=1, IS_LIVE_DT=NOW()
            WHERE IDX_MEETING=#{idx_meeting} AND IDX_USER=#{idx_user}
    </update>

    <!-- ZOOM 미팅 참가 수신 -->
    <update id="putJoinMeetLiveStart">
        UPDATE TB_MEETING_USER_JOIN
            SET
                IS_LIVE=1, ZUID=#{zuid}
            WHERE TOKEN=#{token} AND SESSIONID=#{mcid} AND DELETE_STAT=0
    </update>

    <!-- ZOOM 미팅 Keep Alive : 녹화/감정 분석 진행여부 -->
    <update id="putMeetAlive">
        UPDATE TB_MEETING_USER_JOIN
            SET
                IS_ALIVE=#{is_alive}
            <if test="alldata != null">
                , ALLDATA = #{alldata}
            </if>
            <if test="allmute != null">
                , ALLMUTE = #{allmute}
            </if>
            WHERE TOKEN=#{token} AND SESSIONID=#{mcid} AND ZUID=#{zuid} AND DELETE_STAT=0
    </update>

    <!-- 호스트가 설정한 줌의 환경 설정 가져오기 -->
    <select id="getMeetAlive" resultType="com.eura.web.model.DTO.MeetingVO">
        SELECT A.ALLDATA, A.ALLMUTE 
            FROM TB_MEETING_USER_JOIN A
            JOIN TB_MEETING_USER_JOIN B ON B.IDX_MEETING=A.IDX_MEETING AND B.TOKEN=#{token} AND B.SESSIONID=#{mcid} AND B.ZUID=#{zuid}
            JOIN TB_MEETING C ON C.IDX_MEETING=A.IDX_MEETING
            WHERE A.IDX_USER = C.IDX_USER AND A.DELETE_STAT=0
    </select>

    <!-- 미팅 들어가기 -->
    <update id="putMeetLiveJoin">
        UPDATE TB_MEETING_USER_JOIN
            SET
                JOIN_DT=NOW(), TOKEN=#{token}, SESSIONID=#{sessionid}, IS_LIVE=0
            WHERE IDX_MEETING=#{idx_meeting} AND IDX_USER=#{idx_user} AND DELETE_STAT=0
    </update>

    <!-- 미팅에 참여중인지 확인 -->
    <select id="chkMeetLiveJoin" resultType="com.eura.web.model.DTO.MeetingVO">
        SELECT TOKEN, SESSIONID, IS_LIVE, IDX_MEETING_USER_JOIN, JOIN_DT
            FROM TB_MEETING_USER_JOIN
            WHERE IDX_MEETING=#{idx_meeting} AND IDX_USER=#{idx_user} AND DELETE_STAT=0
    </select>

    <!-- 미팅 시간 중복 체크 -->
    <select id="chkRoomDupTime" statementType="CALLABLE" resultType="com.eura.web.model.DTO.MeetingVO">
    <![CDATA[
		{call prc_meet_chkRoomDupTime(#{idx_meeting}, #{idx_user})}
    ]]>
    </select>

    <!-- 일 단위 중복 체크 -->
    <select id="chkRoomDupDate" statementType="CALLABLE" resultType="com.eura.web.model.DTO.MeetingVO">
    <![CDATA[
        {call prc_meet_chkRoomDupDate(#{idx_user}, #{mt_start_dt}, #{mt_end_dt}, #{idx_meeting})}
    ]]>
    </select>

    <!-- APP이 mcid, token으로 정보 요청 시 -->
    <select id="chkRoomInvite" resultType="com.eura.web.model.DTO.MeetingVO">
        SELECT 
            A.MT_NAME
            , A.MT_START_DT
            , A.MT_END_DT
            , IF(A.IS_FINISH=1,2,IF(A.IS_LIVE=1,1,0)) AS MT_STATUS
            , (SELECT USER_NAME FROM TB_USER WHERE IDX_USER=A.IDX_USER) AS HOST_NAME
            , C.USER_NAME
            , B.SESSIONID
            , IF(A.IDX_USER=B.IDX_USER,1,0) AS ISHOST
            FROM TB_MEETING A
        JOIN TB_MEETING_USER_JOIN B ON B.IDX_MEETING=A.IDX_MEETING AND B.DELETE_STAT=0
        JOIN TB_USER C ON C.IDX_USER=B.IDX_USER
        WHERE B.SESSIONID=#{sessionid} AND B.TOKEN=#{token} AND A.IS_FINISH=0
    </select>

    <!--현재 진행 중인 미팅 끝내기-->
    <update id="closeMeet">
        UPDATE TB_MEETING
        SET
            IS_LIVE = 0,
            MT_END_DT = NOW(),
            IS_FINISH = 1,
            IS_FINISH_DT = NOW()
        WHERE IDX_MEETING=#{idx_meeting} AND IDX_USER=#{idx_user}
    </update>

    <!-- APP 미팅룸 종료 시 영상 파일 받기 -->
    <update id="endMeetLive">
        UPDATE TB_MEETING
        SET
            IS_LIVE = 0
            , IS_FINISH = 1
            <if test="is_finish != null">
                , IS_FINISH_DT = NOW()
            </if>
        WHERE IDX_MEETING=(SELECT IDX_MEETING FROM TB_MEETING_USER_JOIN WHERE TOKEN=#{token} AND SESSIONID=#{mcid} AND DELETE_STAT=0)
    </update>

    <!-- 라이브 중인 미팅룸 INDEX -->
    <select id="getMeetLiveIdx" resultType="com.eura.web.model.DTO.MeetingVO">
        SELECT IDX_MEETING 
        FROM TB_MEETING
        WHERE IDX_MEETING=(SELECT IDX_MEETING FROM TB_MEETING_USER_JOIN WHERE TOKEN=#{token} AND SESSIONID=#{mcid} AND DELETE_STAT=0)
    </select>

    <!-- 미팅 참가자 INDEX 정보 추출 -->
    <select id="getMeetInvite" resultType="com.eura.web.model.DTO.MeetingVO">
        SELECT IDX_USER, IDX_MEETING FROM TB_MEETING_USER_JOIN
            WHERE TOKEN=#{token} AND SESSIONID=#{sessionid} AND DELETE_STAT=0
    </select>

    <!-- 참여자에서 본인이 있다면 참여자 정보와 연동 -->
    <update id="chkMeetInviteChain">
        UPDATE TB_MEETING_USER_JOIN 
            SET 
                IDX_USER=(SELECT IDX_USER FROM TB_USER WHERE USER_ID=#{user_id})
            WHERE USER_EMAIL=#{user_id} AND IDX_USER=0 AND DELETE_STAT=0
    </update>
</mapper>